.CP-LayoutCargaDeDatos {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      180deg,
      rgba(193, 193, 193, 0.7) 19%,
      rgba(106, 106, 106, 0.6) 40%,
      rgba(52, 52, 52, 0.5) 100%
    ),
    url('../../Static/Img/fondoAdmin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  position: relative;
}
.CP-LayoutCargaDeDatos-Inicio {
  height: 0;
}
.marca {
  min-width: 300px;
  position: absolute;
  top: 7%;
}
.iso {
  position: absolute;
  top: 26%;
  min-width: 200px;
}
