/* ============ CONTENEDOR NOTICIAS SLIDER ============- */
.containerSlider {
  padding: 20px;
  background-color: transparent;
  max-width: 100%;
}
.flechaPrev {
  color: black;
  display: block;
  position: absolute;
  left: -30px;
  top: 40%;
}
.flechaNext {
  color: black;
  display: block;
  position: absolute;
  right: -30px;
  top: 40%;
}
.flecha {
  font-size: 30px;
  transition: all 0.3s;
  cursor: pointer;
}
.flechaPrev:hover .flecha {
  font-size: 33px;
}
.flechaNext:hover .flecha {
  font-size: 33px;
}
