.CP-PaginaGaleriaAdmin {
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

.LI-Tarjetas-Galeria {
  /* width: 500px; */
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 150px));
  grid-auto-rows: minmax(150px, 180px);
  place-content: center center;
  row-gap: 20px;
  column-gap: 20px;
  padding: 50px;
}
.LI-Tarjetas-Galeria * {
  padding: 10px;
}

/* @media screen and (max-width: 390px) {
  .LI-Tarjetas-Galeria {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }
} */
