.Marcador {
  padding: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  min-height: 100%;
}
.marcador-cuerpo {
  width: 100%;
  height: 100%;
  /* height: 584px; */
  border: 0.1rem solid #ffe35f;
  display: grid;
  grid-template-columns: 10% 1fr 5% 5% 1fr 5% 1fr 5% 5% 1fr 10%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background-image: url('../../Static/Img/linea_marcador.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 60%;
  background-size: contain;
}
.categoria-Marcador {
  grid-column: 1/12;
  grid-row: 1/2;
  color: white;
  margin-top: 10px;
  margin-left: 20px;
}
.info-partido {
  grid-column: 5/8;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.escudo-A {
  grid-column: 2/4;
  grid-row: 4/7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.marcador-A {
  grid-column: 3/6;
  grid-row: 5/7;
  padding-bottom: 50px;
  padding-right: 10px;
}
.contenedor-resultado-Marcador-A {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  clip-path: polygon(0 0, 65% 0, 96% 100%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.escudo-B {
  grid-column: 9/11;
  grid-row: 4/7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.marcador-B {
  grid-column: 7/10;
  grid-row: 5/7;
  padding-left: 25px;
  padding-bottom: 50px;
}
.contenedor-resultado-Marcador-B {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  clip-path: polygon(32% 0, 100% 0, 100% 100%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nombreEquipo-Marcador {
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 30px;
}
.nombreEquipo-A {
  grid-column: 2/6;
  grid-row: 7/8;
  display: flex;
  align-items: center;
}
.nombreEquipo-B {
  grid-column: 7/10;
  grid-row: 7/8;
  display: flex;
  align-items: center;
}
.img-Escudo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
  max-width: 150px;
  max-height: 150px;
}
.penales {
  grid-column: 5/8;
  grid-row: 5/7;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1420px) {
  .marcador-cuerpo {
    grid-template-columns: 10% 1fr 5% 5% 1fr 5% 1fr 5% 5% 1fr 10%;
    grid-template-rows: 10% 1fr 1fr 5% 1fr 2fr 1fr;
    background-image: url('../../Static/Img/linea_marcador.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 60%;
    background-size: contain;
    min-height: 350px;
  }
  .info-partido {
    grid-column: 4/9;
    grid-row: 1/4;
    padding-top: 20px;
  }

  .marcador-A {
    grid-row: 4/7;
    padding-top: 25px;
  }
  .marcador-B {
    grid-row: 4/7;
    padding-top: 25px;
  }
}
@media screen and (max-width: 1024px) {
  .marcador-cuerpo {
    min-height: 400px;
  }
  .info-partido {
    grid-column: 3/10;
    padding-top: 20px;
  }
  .escudo-A {
    grid-column: 1/5;
  }
  .escudo-B {
    grid-column: 8/12;
  }

  .marcador-A {
    padding-right: 0;
    padding-top: 30px;
  }
  .marcador-B {
    padding-top: 30px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .marcador-cuerpo {
    background-image: none;

    min-height: 450px;
    grid-template-rows: 10% 1fr 1fr 5% 1fr 1fr 1fr;
  }
  .contenedor-resultado-Marcador-A {
    clip-path: none;
    background-color: transparent;
  }
  .contenedor-resultado-Marcador-B {
    clip-path: none;
    background-color: transparent;
  }
  .info-partido {
    grid-column: 2/10;
    margin-top: 20px;
    margin-right: 80px;
  }
  .marcador-A {
    padding-right: 0;
  }
  .escudo-A {
    padding-left: 5px;
    grid-column: 1/4;
  }
  .marcador-B {
    padding-left: 0;
  }
  .escudo-B {
    padding-right: 5px;
    grid-column: 9/12;
  }
  .nombreEquipo-Marcador {
    text-align: center;
  }
  .nombreEquipo-A {
    grid-column: 1/6;
  }
  .nombreEquipo-B {
    grid-column: 7/12;
  }
  .img-Escudo {
    max-width: 100px;
    max-height: 100px;
  }
}
@media screen and (max-width: 375px) {
  .info-partido {
    margin-right: 0;
    grid-column: 1/12;
    margin-left: 10px;
    margin-right: 120px;
  }
  .categoria-Marcador {
    grid-column: 1/11;
  }
}
@media screen and (max-width: 360px) {
  .marcador-cuerpo {
    min-height: 350px;
  }
  .nombreEquipo-A {
    grid-row: 6/8;
  }
  .nombreEquipo-B {
    grid-row: 6/8;
  }
  .info-partido {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 320px) {
  .info-partido {
    margin-right: 0px;
  }
}
