/* ============ LAYOUT PADRE ============- */

.LP-Inicio {
  width: 100%;
  height: 100%;
}

/*============ CONTENENDOR PANEL  ( SECCION ) ============ */

.LI-Inicio {
  margin: 0;
  padding: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 60%;
  background-position-x: 38%;
  width: 100%;
  height: 100vh;
}

/* ============ SECCION  ( SOMOS ) ============ */

.CP-Somos {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
}

.CI-Somos-frase {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.CI-Somos-frase img {
  max-width: 100%;
  height: 100%;
  max-height: 250px;
}

.CI-Somos-radio {
  grid-column: 1/2;
  grid-row: 2/3;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.CI-Somos-redes {
  display: flex;
  justify-content: flex-end;
  grid-column: 2/3;
  grid-row: 2/3;
}

.I-Redes {
  grid-column: 4/5;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: auto;
}

.I-Redes .red-social div {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
  transition: all 300ms ease;
  margin: 5px;
  cursor: pointer;
}

.seccion-somos {
  background-image: url('../../Static/Img/Fondo_inicio.png');
}

/* ============ SECCION  ( VIVO ) ============ */

.CP-Vivo {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(2, 85% 15%);
}

.Margen-Vivo {
  padding-bottom: 0;
}
.CI-Componente-Vivo {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}
.CI-Chat-Vivo {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 35% 1fr 5%;
}
.CI-Chat-Vivo p {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 2rem;
  color: white;
}
.componente-Chat-Vivo {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: white;
}
.CI-Publicidad-Vivo {
  grid-column: 1/3;
  grid-row: 2/3;
  width: 100%;
}
.CI-Publicidad-Vivo img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.seccion-vivo {
  background-image: url('../../Static/Img/Fondo_vivo.png');
  background-position-y: 0;
}

/* ============ SECCION  ( MARCADOR ) ============ */

.CP-Marcador {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
}
.margenes-Responsive-Seccion-Marcador {
  padding-bottom: 60px;
}
.CI-Marcador {
  /* background-color: blue; */
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr; */
  /* padding-bottom: 15px; */
}
.titulo-Marcador {
  grid-row: 1/2;
  grid-column: 1/2;
  /* background-color: red; */
}
.componente-Marcador {
  grid-column: 1/2;
  grid-row: 2/3;
  /* background-color: blueviolet; */
}

.CI-Publicidad-Marcador {
  grid-column: 2/3;
  grid-row: 1/2;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* row-gap: 50px; */
}
.img-Publicidad-Marcador {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 350px;
  max-height: 350px;
}
.CI-Publicidad-Marcador img:nth-child(1) {
  padding-bottom: 20px;
}
.CI-Publicidad-Marcador img:nth-child(2) {
  padding-top: 20px;
}
.seccion-marcador {
  background-image: url('../../Static/Img/Fondo_Marcado.png');
}

/* ============ SECCION  ( NOTICIAS ) ============ */
.Margen-Noticias {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  height: auto;
}

.seccion-noticias {
  /* background-position-y: 10% !important; */
  background-image: url('../../Static/Img/Fondo_noticias.png');
}
.CP-Noticias {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 25% 7%;
  grid-template-rows: 15% 5% auto auto;
  row-gap: 10px;
  column-gap: 50px;
}
.titulo-Seccion-Noticias {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  padding-left: 140px;
  margin-top: 20px;
}
/* .titulo-Seccion-Noticias p {
  font-size: 5vw;
  font-weight: 900;
  letter-spacing: 15px;
} */
.CI-Filtros {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-right: 200px;
  margin-bottom: 20px;
}
.CI-NoticiaPrincipal {
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.componenteNoticiaPrincipal {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  padding-bottom: 90px;
}
.CI-NoticiasMini {
  grid-column: 3/4;
  grid-row: 2/4;
  display: grid;
  grid-template-columns: minmax(0, 450px);
  grid-auto-rows: 50%;
  justify-self: end;
}
.noticia-Miniatura-1 {
  grid-column: 1/2;
  grid-row: 1/2;
  overflow: hidden;
}
.noticia-Miniatura-2 {
  grid-column: 1/2;
  grid-row: 2/3;
  overflow: hidden;
}
.publicidad-Noticias {
  grid-column: 2/4;
  grid-row: 4/5;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.publicidad-Noticias img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ============ SECCION  ( GALERIA ) ============ */

.CP-Galeria {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
  padding-top: 35px;
}
.CI-Galeria-Imagenes {
  grid-column: 1/2;
  justify-content: center;
  display: grid;
  grid-template-columns: 5% 1fr 40% 5%;
  grid-template-rows: 20% 35% 35%;
}
.titulo-Galeria {
  grid-row: 1/2;
  grid-column: 1/3;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.galeria-Imagenes-A {
  grid-column: 1/3;
  grid-row: 1/5;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.galeria-Imagenes-B {
  grid-column: 3/4;
  grid-row: 1/5;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.CI-Galeria-Videos {
  grid-column: 2/3;
  padding: 20px;
  display: flex;
  align-items: center;
  padding: 50px;
}

.seccion-galeria {
  background-image: url('../../Static/Img/Fondo_galeria.png');
}

/* ============== CONTENEDOR SLIDER IMAGENES ============== */

.I-Slider-biografia {
  grid-column: 2/4;
  grid-row: 3/4;
  width: 100%;
  height: 100%;
  max-height: 800px;
  background-color: rgba(255, 255, 255, 0.445);
}

.I-Contenedor-slider-imagenes {
  width: 100%;
  height: auto;
  padding: 5px;
}

.flechaSiguiente {
  height: 35px;
  width: 45px;
  background-color: #000000;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  color: white;
  display: block;
  position: absolute;
  right: -50px;
  top: 50%;
  z-index: 5;
  display: flex;
  align-items: center;
  place-content: center;
  display: none;
}
.slick-active {
  size: 20px;
}

.slick-active::after {
  background-color: blue;
}
.slick-active::before {
  background-color: red;
}

.flechaAnterior {
  height: 35px;
  width: 45px;
  background-color: #000000;
  -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
  clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
  color: white;
  display: block;
  position: absolute;
  left: -50px;
  top: 50%;
  z-index: 5;
  display: flex;
  align-items: center;
  place-content: center;
  display: none;
}
.I-Contenedor-flecha-izquierda {
  display: flex;
  align-items: center;
  place-content: center;
}
.I-Contenedor-flecha-derecha {
  display: flex;
  align-items: center;
  place-content: center;
}
.flechaAnterior:hover {
  background-color: #00365c96;
}
.flechaSiguiente:hover {
  background-color: #00365c96;
}
.flechaSiguiente:hover .flecha {
  font-size: 23px;
}
.flechaAnterior:hover .flecha {
  font-size: 23px;
}

.flecha {
  margin-top: 20%;
  font-size: 0px;
  transition: all 0.3s;
  cursor: pointer;
}

/* ///////////////////////// MEDIA QUERIES MOVIL ///////////////////////// */
@media screen and (max-width: 1420px) {
  /* VIVO */

  .CI-Chat-Vivo {
    grid-template-rows: 30% 1fr 10%;
  }

  /* MARCADOR */
  .img-Publicidad-Marcador {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 255px;
    max-height: 255px;
  }
  .margenes-Responsive-Seccion-Marcador {
    padding-bottom: 30px;
  }

  /* NOTICIAS */
  .CI-Filtros {
    margin-right: 220px;
  }

  .CI-NoticiaPrincipal {
    padding-bottom: 10px;
    padding-right: 80px;
  }
  .componenteNoticiaPrincipal {
    padding-bottom: 0px;
  }
  .CI-NoticiasMini {
    grid-column: 3/4;
    grid-row: 1/4;
    grid-template-columns: minmax(0, 400px);
    grid-template-rows: repeat(2, minmax(0, 1fr));
    margin-top: 80px;
  }

  /* GALERIA */
  .margenes-Galeria {
    padding: 50px;
  }
  .CI-Galeria-Imagenes {
    grid-template-columns: 50% 40%;
  }
  .titulo-Galeria {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .galeria-Imagenes-A {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .galeria-Imagenes-B {
    grid-column: 2/3;
    grid-row: 1/5;
  }
}
@media screen and (max-width: 1024px) {
  .CI-Somos-redes {
    align-items: center;
  }
  /* VIVO */
  .Margen-Vivo {
    padding: 50px !important;
    padding-top: 100px !important;
  }
  .CP-Vivo {
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(0, 300px) 10%;
  }
  .CI-Chat-Vivo {
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 1fr;
    margin-top: 10px;
  }
  .CI-Chat-Vivo p {
    grid-column: 1/2;
  }
  .componente-Chat-Vivo {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: white;
  }
  .CI-Publicidad-Vivo {
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
  }

  /* MARCADOR */

  /* .margenes-Responsive-Seccion-Marcador {
    padding: 50px !important;
  } */
  /* .margenes-Responsive-Seccion-Marcador {
    padding-top: 140px;
    padding-right: 30px;
    padding-left: 70px;
  } */

  .titulo-Marcador {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }
  .CI-Publicidad-Marcador img {
    max-width: 200px;
    max-height: 200px;
  }
  .CI-Publicidad-Marcador img:nth-child(1) {
    padding-bottom: 0;
  }
  .CI-Publicidad-Marcador img:nth-child(2) {
    padding-top: 0;
  }
  /* NOTICIAS */
  .CP-Noticias {
    grid-template-columns: 5% 1fr 20% 5%;
    grid-template-rows: 10% 10% 1fr 1fr 10%;
    row-gap: 10px;
    column-gap: 50px;
  }
  .CI-Filtros {
    grid-column: 2/5;
    grid-row: 2/3;
    margin-top: 0;
  }
  .CI-NoticiaPrincipal {
    grid-column: 2/4;
    grid-row: 3/4;
    padding-right: 0;
  }
  .CI-NoticiasMini {
    margin-top: 0;
    grid-column: 2/4;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 1fr 10% 1fr;
    grid-template-rows: 10% 1fr 10%;
  }
  .noticia-Miniatura-1 {
    grid-column: 1/2;
    grid-row: 2/3;
    overflow: hidden;
  }
  .noticia-Miniatura-2 {
    grid-column: 3/4;
    grid-row: 2/3;
    overflow: hidden;
  }
  .publicidad-Noticias {
    grid-column: 1/5;
    grid-row: 5/6;
    padding-left: 50px;
    padding-right: 50px;
  }

  /* GALERIA */
  .margenes-Galeria {
    padding: 50px;
    height: auto;
  }
  .CP-Galeria {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .titulo-Galeria {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 5rem;
  }
  .CI-Galeria-Imagenes {
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 10% repeat(2, minmax(0, 1fr));
  }

  .galeria-Imagenes-A {
    display: none;
  }
  .galeria-Imagenes-B {
    grid-column: 1/2;
    grid-row: 2/4;
    padding-left: 30px;
    padding-right: 30px;
  }
  .CI-Galeria-Videos {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media screen and (max-width: 768px) {
  .margenes-Responsive-Seccion-Marcador {
    padding-left: 30px !important;
    padding-right: 30px !important;
    height: 100%;
  }
  .CI-Marcador {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .CI-Publicidad-Marcador {
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .CI-Publicidad-Marcador div {
    max-width: 150px;
    max-height: 150px;
    margin: 60px;
  }
}
@media screen and (max-width: 690px) {
  .I-Redes {
    align-items: center;
    padding-bottom: 30px;
  }
  /* VIVO */
  .Margen-Vivo {
    padding: 28px !important;
    padding-top: 90px !important;
  }
  .CI-Publicidad-Marcador {
    flex-direction: column;
  }
  .CI-Publicidad-Marcador img:nth-child(1) {
    margin-top: 20px;

    margin-bottom: 10px;
  }
  .CI-Publicidad-Marcador img:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .CI-Chat-Vivo p {
    font-size: 1.5rem;
  }

  .CP-Marcador {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr auto;
    margin: 0;
    padding-top: 80px;
  }

  .CI-Marcador {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
  }

  /* NOTICIAS */
  .CP-Noticias {
    column-gap: 0;
    grid-template-rows: 5% 5% auto auto 10%;
    height: auto;
  }
  .titulo-Seccion-Noticias {
    font-size: 8vw;
    padding-top: 0;
    padding-left: 10px;
  }

  .CI-Filtros {
    grid-column: 2/5;
    margin-right: 0;
    margin-left: -100px;
    justify-content: space-evenly;
    margin-top: 40px;
  }
  .CI-NoticiaPrincipal {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .componenteNoticiaPrincipal {
    grid-column: 1/4;
    grid-row: 1/4;
  }
  .CI-NoticiasMini {
    margin-top: 0;
    grid-column: 2/4;
    grid-row: 4/6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
  }
  .noticia-Miniatura-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    overflow: hidden;
  }
  .noticia-Miniatura-2 {
    grid-column: 1/2;
    grid-row: 2/3;
    overflow: hidden;
  }
  .publicidad-Noticias {
    grid-column: 1/5;
    grid-row: 6/7;
    padding-left: 18px;
    padding-right: 18px;
  }
  .publicidad-Noticias img {
    width: 100%;
  }
  /* GALERIA */
  /* .CI-Galeria-Imagenes {
    padding-top: 20px;
  } */
  /* .titulo-Galeria {
    margin-right: 100px;
  } */
  .CI-Galeria-Imagenes div {
    margin-top: 5px;
  }
  .CI-Galeria-Videos {
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
  .galeria-Imagenes-B {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 0;
  }
  .titulo-Galeria {
    font-size: 3.5rem;
    margin-right: 100px;
  }
}
@media screen and (max-width: 374px) {
  .CP-Vivo {
    grid-template-rows: auto 1fr 10%;
  }
  .Margen-Vivo {
    padding-top: 80px !important;
  }
}
@media only screen and (min-device-width: 320px) and (max-width: 768px) and (orientation: portrait) {
  .LI-Inicio {
    padding: 5px;
  }
  .CP-Somos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr) 100px;
  }
  .CI-Somos-frase {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-left: 30px;
    padding-right: 30px;
  }
  .CI-Somos-frase img {
    max-height: 150px;
  }
  .CI-Somos-radio {
    grid-column: 1/2;
    grid-row: 2/3;
    align-items: flex-start;
  }
  .CI-Somos-redes {
    grid-column: 1/2;
    grid-row: 3/4;
    padding-bottom: 30px;
  }
  .titulo-Seccion-Noticias {
    padding-left: 15px;
  }
  .titulo-Galeria {
    padding-left: 30px;
  }
  .CI-Galeria-Videos {
    padding-left: 15px;
    padding-right: 15px;
  }
  .seccion-somos {
    background-image: url('../../Static/Img/Fondo_inicio_movil.jpg');
    padding-top: 100px;
  }
}
@media screen and (max-width: 360px) {
  .CI-Somos-redes {
    padding-bottom: 0;
    padding-left: 180px;
    margin-left: 40px;
  }
  .margenes-Responsive-Seccion-Marcador {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
@media screen and (max-width: 320px) {
  .CP-Marcador {
    padding-top: 0;
  }
  .CP-Noticias {
    padding-top: 10px;
  }
  .titulo-Galeria {
    margin-right: 20px;
  }
  .I-Redes {
    display: none;
  }
}
/* .tamañoPublicidadDerechaInicio {
  width: 67%;
  height: 100%;
} */
