.CP-Noticias-Desarrollada {
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-family: 'Segoe UI';
  max-height: auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 1rem;
  margin-top: 0px;
  border-left: 1px solid #ffe35f;
  padding: 1rem;
  padding-top: 0px;
  text-align: justify;
  text-justify: inter-word;
  word-break: break-word;
}
.CI-Imagen-Epigrafe-Noticia-Desarrollada {
  display: flex;
  flex-direction: column;
}
.Titulo-Noticia-Desarrollada {
  font-weight: 1000;
  font-size: 28px;
  margin-top: 20px;
}
.CI-Cuerpo-Noticia-Desarrollada {
  display: flex;
  flex-direction: column;
}
.Epigrafe-NoticiaDesarrollada {
  align-self: center;
  margin-top: -0.1rem;
  text-decoration: rgb(136, 132, 132);
}
.Cuerpo-Noticia-Desarrollada {
  white-space: pre-line;
  font-weight: 500;
}
.Copete-Noticia-Desarrollada {
  font-weight: 700;
  padding-top: 15px;
}

.Categoria-Titulo-Noticia-Desarrollada {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  align-items: flex-start;
}

.Fondo-Categorias-Noticia-Desarrollada {
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  background-color: #ffe35f;
  width: auto;
  height: 50px;
  min-width: 200px;
}

.Etiqueta-Categorias-Noticia-Desarrollada {
  display: flex;
  place-content: flex-start;
  padding-left: 5px;
  align-items: center;
  min-height: 100%;
}

.CI-Autor-Fecha-Noticia-Desarrollada {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ffe35f;
  border-top: 1px solid #ffe35f;
}
.imagen-NoticiaDesarrollada {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 600px;
}
@media screen and (max-width: 1366px) {
  .imagen-NoticiaDesarrollada {
    max-height: 400px;
  }
}
@media only screen and (min-width: 770px) and (max-width: 1366px) and (orientation: portrait) {
  .Categoria-Titulo-Noticia-Desarrollada {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 480px) {
  .imagen-NoticiaDesarrollada {
    max-height: 300px;
  }
}
@media only screen and (min-device-width: 320px) and (max-width: 768px) and (orientation: portrait) {
  .Categoria-Titulo-Noticia-Desarrollada {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 15px;
  }
  .Copete-Noticia-Desarrollada {
    font-weight: 400;
    padding-top: 15px;
  }

  .Fondo-Categorias-Noticia-Desarrollada {
    display: flex;
    align-items: left;
    width: auto;
    height: 50px;
    min-width: 150px;
  }

  .Titulo-Noticia-Desarrollada {
    font-weight: 1000;
    font-size: 24px;
    margin-top: 20px;
  }
}
