/* ============ CONTENEDOR BUSQUEDA ============- */

.CP-SN-Noticias-Busquedas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 90px;
  background-color: white;
  margin: 0;
  position: sticky;
  top: 70px;
  z-index: 5;
  box-shadow: 0px 15px 10px -15px;
}
.CP-SN-Noticias-Busquedas p {
  font-size: 4rem;
  font-weight: 800;
}

.SN-lista-desplegable-noticia-busqueda {
  position: relative;
}
.CI-resultado-busqueda-noticias {
  position: absolute;
  width: 100%;
  box-shadow: 0px 4px 6px 1px;
  z-index: 18;
  background-color: white;
}

.CI-resultado-busqueda-noticias p {
  font-size: 0.7rem;
  text-align: -webkit-center;
}
/* --- INPUT BUSQUEDA --- */

.Input-busqueda {
  min-width: 300px;
  max-width: 400px;
  height: 50px;
  border-image-source: linear-gradient(21deg, #10abff, #1beabd);
  border-width: 3pt;
  border-image-slice: 1;
  text-align: center;
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
  .Input-busqueda {
    min-width: 100px;
    max-width: 190px;
    height: auto;
    border-image-source: linear-gradient(21deg, #10abff, #1beabd);
    border-width: 2px;
    border-image-slice: 1;
  }
  .CP-SN-Noticias-Busquedas p {
    font-size: 2rem;
  }
  .CI-resultado-busqueda-noticias p {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 360px) and (orientation: portrait) {
  .Input-busqueda {
    min-width: 90px;
    max-width: 150px;
    height: auto;
    border-image-source: linear-gradient(21deg, #10abff, #1beabd);
    border-width: 2px;
    border-image-slice: 1;
  }
  .CP-SN-Noticias-Busquedas p {
    font-size: 1.8rem;
  }
  .CI-resultado-busqueda-noticias p {
    font-size: 0.7rem;
  }
}
