/* ----- CONTENEDOR PAGINA SECCIONES ADMINISTRADOR ----- */

.CP-Pagina-Secciones-Admin {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

/* ----- CONTENEDOR SECCIONES ADMINISTRADOR ----- */

.CI-Pagina-Secciones-Admin-Cabecera {
  width: 100%;
  display: grid;
  grid-template-columns: 1px 1fr 1px;
  grid-template-rows: 15px 40px 60px 5px;
  gap: 5px;
  background-color: #ffffff;
  /* z-index: 15; */
  box-shadow: 0px 15px 10px -20px;
  /* position: fixed; */
}

/* ----- CONTENEDOR SECCIONES ADMINISTRADOR ----- */

.CI-Pagina-Secciones-Admin-Noticias {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1px 1fr 1px;
  grid-template-rows: 5px 1fr 5px;
  /* padding-left: 10px;
  padding-right: 10px; */
}

.I-Boton-Secciones-Admin {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  place-content: center;
  align-items: center;
}

.I-Filtros-Secciones-Admin {
  grid-column: 2/3;
  grid-row: 3/4;
  margin-top: 10px;
}

.I-Noticias-Secciones-Admin {
  grid-column: 2/3;
  grid-row: 4/5;
  background-color: orange;
}
/* CUERPO PARA GALERIA */
.CI-Pagina-Secciones-Galeria {
  width: 100%;
  height: 100%;
}
/* CUERPO PARA TORNEOS */
.CI-Pagina-Secciones-Torneos {
  width: 100%;
  height: 100%;
}
