.body {
  background-color: darkviolet;
}

.LI-Nosotros {
  margin: 0 0 0 0px;
  display: grid;
  grid-gap: 10px;
  height: 100vh;
  padding: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-color: darkviolet;
}
