/*=========== LAYOUT NOSOTROS  ===========*/

.LI-Nosotros {
  display: grid;
  min-height: 1700px;
  width: 100%;
  padding-top: 150px;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 50px auto 50px;
  background: rgb(0, 177, 115);
  background: linear-gradient(
    90deg,
    rgba(0, 177, 115, 1) 10%,
    rgba(0, 172, 128, 1) 20%,
    rgba(0, 158, 164, 1) 56%,
    rgba(0, 149, 189, 1) 75%
  );
}

/* .seccion-nosotros {
  background-image: url('../../Static/Img/fondo_somos2.png');
  background-size: 100%;
  background-repeat: no-repeat;
} */

.CP-Nosotros {
  grid-column: 2/2;
  grid-row: 2/2;
  display: grid;
  /* width: 100%;
  height: 100%; */
  grid-template-columns: 60% 40%;
  grid-template-rows: auto 200px;
}

/*=========== NOSOTROS DESCRIPCION ===========*/

.CI-Nosotros-cuerpo {
  grid-column: 1/2;
  grid-row: 1/2;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr; */
  display: flex;
  flex-direction: column;
}

.I-titulo-somos {
  /* margin: 10px;
  width: auto;
  height: auto; */
}

.foto-frase {
  max-width: 24em;
  place-items: center;
  justify-content: center;
  align-content: center;
}

.I-cuerpo-somos {
  margin-top: 150px;
  padding: 50px;
}
.I-cuerpo-somos p {
  font-size: 1.4rem;
  line-height: 35px;
  font-weight: 400;
  color: white;
}
.I-cuerpo-somos h3 {
  color: white;
}

/*=========== GALERIA ===========*/

.CI-Nosotros-Galeria {
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(0, max-content) auto;
  padding: 20px;
}

.I-componente-somos-slider {
  grid-column: 1/2;
  grid-row: 1/2;
  /* display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 20px minmax(0, 500px) 20px;
  place-items: center center; */
  margin-bottom: 20px;
  padding: 10px;
}
/* .componente-ImagenesVideo {
  grid-column: 1/5;
  grid-row: 2/3;
} */

.I-componente-somos-fotos {
  grid-column: 1/2;
  grid-row: 2/3;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.foto {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  padding: 10px;
}

/*=========== RADIO ===========*/

.CI-Nosotros-radio {
  grid-column: 1/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.I-Radio {
  grid-column: 1/2;
  /* background-color: rgba(59, 21, 226, 0.8); */
  column-gap: 10px;
  margin: 10px;
  display: flex;
  align-items: flex-end;
}

.I-Componente-radio {
  display: flex;
  align-items: flex-start;
  /* background-color: rgba(189, 226, 21, 0.8); */
}
@media screen and (max-width: 1400px) {
  .LI-Nosotros {
    padding-top: 80px;
  }
  .I-cuerpo-somos h3 {
    color: white;
  }
  .I-cuerpo-somos {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .LI-Nosotros {
    padding-top: 50px;
    grid-template-columns: 30px auto 30px;
    grid-template-rows: 50px auto 50px;
  }
  .I-cuerpo-somos {
    padding: 20px;
  }
  .CI-Nosotros-Galeria {
    padding: 0;
  }
}
@media screen and (max-width: 760px) {
  .CP-Nosotros {
    grid-column: 2/2;
    grid-row: 2/2;
    display: grid;
    /* width: 100%;
    height: 100%; */
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .CI-Nosotros-cuerpo {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .CI-Nosotros-Galeria {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .CI-Nosotros-radio {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media screen and (max-width: 480px) {
  .LI-Nosotros {
    padding-top: 50px;
    grid-template-columns: 10px auto 10px;
  }
  .I-cuerpo-somos {
    margin-top: 10px;
  }
  .CI-Nosotros-Galeria {
    padding: 10px;
  }
  .foto-frase {
    max-width: 20em;
  }
}
@media screen and (max-width: 350px) {
  .foto-frase {
    max-width: 18em;
  }
}
/* ///////////////////////// MEDIA QUERIES TABLET ///////////////////////// */

/* @media screen and (max-width: 1366px) {
  .LI-Nosotros {
    padding-top: 0;
  }
  .CP-Nosotros {
    grid-template-rows: 3fr 300px;
  }
  .CI-Nosotros-cuerpo {
    display: flex;
    flex-direction: column;
  }
} */

/* @media screen and (min-width: 769px) and (max-width: 1300px) {
  .LI-Nosotros {
    grid-template-columns: 20px auto 20px;
    grid-template-rows: 5px auto 5px;
  }
  .CP-Nosotros {
    display: grid;
    grid-row: 1/3;
    grid-template-columns: 5px 55% 45% 5px;
    grid-template-rows: 5px auto auto 5px;
    margin-top: 100px;
    padding: 5px;
  }
  .CI-Nosotros-cuerpo {
    margin: 5px;
    grid-column: 1/3;
    grid-row: 2/3;
    grid-template-rows: 20% 1fr;
  }

  .CI-Nosotros-Galeria {
    grid-column: 3/4;
    grid-row: 2/3;
    grid-template-rows: repeat(2, minmax(0, 600px)) 5px;
    margin: 0px;
  }
  .CI-Nosotros-radio {
    grid-template-columns: 1fr;
    grid-column: 1/3;
    grid-row: 3/4;
    max-height: 200px;
  }

  .I-cuerpo-somos {
    margin-top: 0px;
    margin-right: 0;
  }
  .I-componente-somos-slider {
    grid-template-columns: 1fr;
  }
  .I-Frase-Somos {
    padding-left: 0px;
    display: flex;
    justify-content: center;
  }
  .foto-frase {
    margin-top: 55px;
    max-width: 17rem;
  }
  .texto-descripcion-somos {
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 0px;
    margin: 10px;
  }
  .texto-descripcion-somos p {
    line-height: 28px;
  }
  .foto-frase {
    margin-top: 55px;
    max-width: 24em;
  }
}
 */
/* ///////////////////////// MEDIA QUERIES MOVIL ///////////////////////// */

/* @media only screen and (min-device-width: 320px) and (max-width: 768px) and (orientation: portrait) {
  .LI-Nosotros {
    grid-template-columns: 5px auto 5px;
    grid-template-rows: 5px auto 5px;
    padding-top: 100px;
  }

  .CP-Nosotros {
    margin-top: 5px;
    display: grid;
    grid-row: 1/5;
    grid-template-rows: 5px auto auto auto 5px;
    grid-template-columns: 5px 1fr 5px;
    padding: 0px;
  }


  .CI-Nosotros-cuerpo {
    margin: 5px;
    grid-column: 1/3;
    grid-row: 2/3;
    grid-template-rows: 150px 3fr;
  }

  .I-titulo-somos {
    margin: 5px;
  }

  .I-cuerpo-somos {
    margin: 5px;
  }

  .foto-frase {
    width: 80%;
    transform: rotate(0deg);
  }

  .CI-Nosotros-Galeria {
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 0px;
    gap: 10px;
  }
  .I-componente-somos-slider {
    grid-template-rows: 5px auto 5px;
    place-items: center center;
  }


  .I-somos-slider {
    grid-row: 1/3;
    margin: 5px;
  }


  .I-somos-foto {
    grid-row: 1/3;
    max-height: 300px;
  }


  .CI-Nosotros-radio {
    padding: 0;
    grid-template-columns: 1fr;
    grid-column: 1/3;
    grid-row: 4/5;
    max-height: 500px;
  }

  .I-Radio {
    grid-column: 1/3;
    column-gap: 10px;
    margin: 5px;
  }
  .texto-descripcion-somos {
    font-size: 14px;
  }
  .seccion-nosotros {
    background-image: url('../../Static/Img/fondo_somos_movil.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .I-Radio {
    align-items: center;
  }

  .I-Componente-radio {
    display: flex;
    margin: 0;
    padding-bottom: 50px;
  }
  .foto-radio {
    align-items: center;
    padding-left: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .texto-descripcion-somos {
    padding: 0;
  }
} */
