.CP-Selector {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.contenedorSelector {
  border-radius: 8px;
  background-color: white;
}
.contenedorSelector-Disabled {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}
.CI-IconoSelect {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icono-Control-Selector {
  color: #00000050;
  transition: all 0.3s ease-in-out;
}
.icono-Control-Selector:hover {
  transform: scale(1.1);
  color: #00000080;
}
.icono-Control-Selector-Perzonalizado {
  color: #00000050;
  transition: all 0.3s ease-in-out;
}
.icono-Control-Selector-Perzonalizado:hover {
  transform: scale(1.1);
  color: #00000080;
}
