.CI-Publicidad-Item {
  width: 100%;
  height: 50px;
  /* background-color: brown; */
  margin-top: 30px;
  display: flex;
  border-bottom: 1px solid #0000001a;
}
.info-Item-Publicidad {
  width: 50%;
  height: 100%;
  /* background-color: burlywood; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-Item-Publicidad p {
  margin-bottom: 10px;
}
.info-Item-Publicidad p:nth-child(1) {
  color: #00000079;
}
.acciones-Item-Publicidad {
  width: 50%;
  height: 100%;
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.iconoAcción-ItemPublicidad {
  font-size: 25px;
  color: #2a2ac0;
}
.textoModificar-ItemPublicidad {
  margin-left: 10px;
  color: #2a2ac0;
}
