.CP-Noticias-NoticiaMiniatura {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  position: relative;
}

.cuerpo-NoticiaMiniatura {
  display: flex;
  flex-direction: column;
}

.CI-Cabecera-NoticiaMiniatura {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.CI-Cuerpo-NoticiaMiniatura {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  place-content: center;
}
.contenedor-Imagen-NoticiaMiniatura-Principal {
  width: 100%;
  height: 600px;
  position: relative;
  min-height: 280px;
  max-height: 600px;
  display: flex;
  align-content: center;
  place-content: center;
}
.contenedor-Imagen-NoticiaMiniatura {
  width: 100%;
  position: relative;
  height: 280px;
  max-height: 280px;
  display: flex;
  align-items: center;
  place-content: center;
}
.slider-Imagen-NoticiaMiniatura {
  width: 100%;
  margin: 0 10px;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 200px;
  min-height: 200px;
}
.imagenNoticia-Miniatura-Principal {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  max-height: 600px;
}
.imagenNoticia-Miniatura {
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.CI-SubCategoria-Fecha-NoticiaMiniatura {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #ffe35f;
}
.CI-Categoria-NoticiaMiniatura-Principal {
  width: max-content;
  max-width: 180px;
  min-height: 30px;
  background-color: #ffe35f;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.CI-Categoria-NoticiaMiniatura {
  width: max-content;
  border-bottom: 1px solid rgb(217, 224, 109);
  max-width: 180px;
  max-height: 40px;
  background-color: #ffe35f;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  position: absolute;
  bottom: 4px;
  left: -1px;
  padding-left: 5px;
}
.Copete-NoticiaMiniatura {
  align-items: center;
  font-weight: 400;
  margin-top: 20px;
}
.fecha-NoticiaMiniatura-NoticiaMiniatura {
  margin-right: 1rem;
  margin-bottom: 0;
}
.subcategoria-NoticiaMiniatura-NoticiaMiniatura {
  font-weight: bold;
}
.sobreImagen-NoticiaMiniatura {
  width: 100%;
  max-height: 80px;
  position: absolute;
  left: 0;
  bottom: 10%;
  background-color: #000000c9;
  color: white;
  padding-right: 30px;
  word-break: break-all;
  padding: 10px;

  overflow: hidden;
}
.imagenNoticiaMiniatura-Principal-Cargando {
  width: 100%;
  min-width: 950px;
  height: 100%;
  min-height: 400px;
}
.imagenNoticiaMiniatura-Cargando {
  width: 100%;
  height: 100%;
  min-height: 200px;
  max-height: 500px;
}
.titulo-Slider-NoticiaMiniatura {
  width: 100%;
  max-width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 1366px) {
  .imagenNoticiaMiniatura-Principal-Cargando {
    min-width: 550px;
    min-height: 300px;
  }
  .imagenNoticia-Miniatura-Principal {
    height: 100%;
    min-height: 200px;
    max-height: 450px;
  }
  .contenedor-Imagen-NoticiaMiniatura-Principal {
    height: 100%;
    min-height: 400px;
    max-height: 500px;
  }
  .contenedor-Imagen-NoticiaMiniatura {
    height: 280px;
    max-height: 220px;
  }
}
@media screen and (max-width: 768px) {
  .imagenNoticiaMiniatura-Principal-Cargando {
    min-height: 300px;
  }
  .imagenNoticiaMiniatura-Cargando {
    min-height: 200px;
    min-width: 450px;
  }
  .contenedor-Imagen-NoticiaMiniatura-Principal {
    min-height: 280px;
    max-height: 300px;
  }
}
@media screen and (max-width: 480px) {
  .contenedor-Imagen-NoticiaMiniatura-Principal {
    width: 100%;
    height: auto;
    position: relative;
    min-height: 250px;
    max-height: 300px;
  }
  .imagenNoticia-Miniatura-Principal {
    max-height: 220px;
  }
  .imagenNoticia-Miniatura {
    max-height: 220px;
  }
  .imagenNoticiaMiniatura-Principal-Cargando {
    min-width: 350px;
    min-height: 200px;
    max-height: 500px;
  }
  .imagenNoticiaMiniatura-Cargando {
    width: 100%;
    min-width: 500px;
    height: 100%;
    min-height: 200px;
    max-height: 500px;
  }
  .CI-Categoria-NoticiaMiniatura {
    height: 30px;
    bottom: none;
    top: 0;
    padding-top: 5px;
  }
  .sobreImagen-NoticiaMiniatura {
    left: 0;
    bottom: 15%;
    padding: 10px;
    max-height: 50px;
    display: flex;
    align-items: center;
  }
  .titulo-NoticiaMiniatura {
    width: 100%;
    max-height: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #000000c9;
    color: white;
    padding: 5px;
  }
}
@media screen and (max-width: 375px) {
  .imagenNoticiaMiniatura-Principal-Cargando {
    min-width: 320px;
  }
}
@media screen and (max-width: 360px) {
  .imagenNoticiaMiniatura-Principal-Cargando {
    min-width: 300px;
  }
}
@media screen and (max-width: 320px) {
  .imagenNoticiaMiniatura-Principal-Cargando {
    min-width: 260px;
  }
  .CI-Categoria-NoticiaMiniatura {
    max-width: 80px;
    max-height: 40px;
    bottom: 90%;
  }
  .sobreImagen-NoticiaMiniatura {
    left: 0;
    max-height: 50px;
  }
}
