.CP-Tarjeta-Noticias-Admin {
  width: 100%;
  min-height: 100vh;
  background-color: #ecf1fa;
}

.CI-Tarjeta-Noticias-Admin {
  display: grid;
  grid-template-columns: 1px minmax(50px, 100px) 1fr 30px 1px;
  grid-template-rows: 5px 1fr 5px;
  background-color: #ffffff;
  border-bottom: 1px solid #0000001a;
  gap: 5px;
}

.I-Tarjeta-Noticias-Imagen {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
}

.I-Tarjeta-Noticias-Cuerpo {
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
}

.I-Tarjeta-Noticias-Opciones {
  grid-column: 4/5;
  grid-row: 2/3;
  display: flex;
  place-content: center;
  place-items: center;
}
