.sweet-alert {
  max-width: 250px !important;
}
.estiloBotonOk {
  width: 50px;
  height: 50px;
  background-color: tomato;
}
.customButtonsWarning {
  width: 100%;
}
.estilosCancelarWarning {
  cursor: pointer;
}
.CP-botones-confirmacion {
  display: flex;
}
.CI-botones-confirmacion-si {
  margin-right: 0.5rem;
}
