.CP-SeccionTablaDePosiciones {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 100px 1fr 100px;
}
.CI-componente-InfoPartido-SeccionTabla {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CI-componente-TablaDePosiciones {
  grid-column: 2/3;
  grid-row: 2/3;
  max-height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-right: 10px;
}
.CI-componente-TablaDePosiciones::-webkit-scrollbar {
  width: 5px;
}
.CI-componente-TablaDePosiciones::-webkit-scrollbar-thumb {
  background: #ffe35f;
}
.CI-componente-TablaDePosiciones::-webkit-scrollbar:horizontal {
  height: 5px;
}

/* .CI-componente-TablaDePosiciones::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
} */
@media screen and (max-width: 480px) {
  .CP-SeccionTablaDePosiciones {
    grid-template-columns: 20px 1fr 20px;
  }
}
