.boton-Lowa {
  width: 100%;
  background-color: #2a2ac0;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  margin: 15px 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0px 3px 16px #00000014;
}
.boton-Lowa:disabled {
  background-color: #2a2ac0bb;
}
