.input-Lowa {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  /* border: 1px solid #ccc; */
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  /* box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 3px 16px #00000014;
}
