/* =========== CONTENEDOR SUB MENU ===========*/
.Lista-submenu {
  position: relative;
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Lista-submenu-cerrada {
  position: relative;
  width: 100%;
  height: 0%;
  overflow: hidden;
  opacity: 0;
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.I-submenu {
  /* padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 1px; */
  color: rgb(228, 13, 13);
}

.Links-submenu {
  text-decoration: none;
  text-decoration-line: none;
  color: #fff;
}

.Links-submenu h6 {
  font-size: 14px;
}
.Links-submenu h6:hover {
  color: #ffe35f;
}

.Links-submenu:hover {
  background-color: #ffe35f;
  color: rgb(0, 0, 0);
}

li {
  list-style: none;
  list-style-type: none;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .I-submenu {
    height: 10%;
  }
  .Links-submenu:hover {
    background-color: #ffe35f;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .Links-submenu h6 {
    color: #ffe35f;
  }
}
