.CP-TextareaLowa {
  background-color: transparent;
  display: flex;
  /*  padding: 10px; */
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}
.CP-TextareaLowa:hover {
  box-shadow: 0px 3px 16px #00000055;
}
.CP-TextareaLowa:hover .componente-TextAreaLowa::placeholder {
  color: black;
}
.componente-TextAreaLowa {
  width: 100%;
  min-width: 280px;
  min-height: 200px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 3px 16px #00000014;
  padding: 10px;
  padding-left: 20px;
  outline: none;
}

.componente-TextAreaLowa::placeholder {
  transition: all 0.3s ease-in-out;
  color: #707070;
}
