* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
  font-size: 16px;
}

h1 {
  font-size: 9rem;
  font-weight: 800;
  line-height: 8rem;
}
h2 {
  font-size: 7rem;
  font-weight: 800;
}
h3 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 4rem;
}
h4 {
  font-weight: 800;
  font-size: 1.3rem;
  line-height: 1rem;
}
h6 {
  font-weight: 600;
  font-size: 0.9em;
  line-height: 1.2em;
}
p {
  font-weight: 600;
  font-size: 1rem;
}
@media screen and (max-width: 1600px) {
  h1 {
    font-size: 5rem;
    line-height: 4rem;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 3rem;
  }
}
