.Contenedor-menu {
  position: fixed;
  width: 100%;
  max-width: 100%;
  z-index: 20;
  background-image: url('../../Static/Img/barra_inicio.png');
}
.nav-logo-movil {
  display: none;
}
.Icon-Menu {
  color: #ffffff;
  font-size: 1.5rem;
}
.nav-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 80px;
}
.nav-logo {
  display: flex;
}
.logo {
  background-image: url('../../Static/Img/isologo.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 400px;
  height: 60px;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
}
.nav-menu-padding {
  height: auto;
}
.nav-links {
  color: #fff;
  text-decoration: none;
  height: 100%;
  border-bottom: 3px solid transparent;
  text-decoration: none;
}
/* .nav-links:hover {
  color: #ffe35f;
} */
.fa-code {
  margin-left: 1rem;
}
.nav-item {
  line-height: 60px;
  margin-left: 1rem;
  margin-right: 1rem;
  min-width: 100px;
}
.nav-item-logo {
  line-height: 40px;
  margin-right: 2rem;
  margin-left: 2rem;
  max-width: 150px;
  max-height: 80px;
}

.nav-item:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item .active {
  color: #ffe35f;
  /* background-color: #ffe35f; */
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-icon {
  display: none;
}
.Icon-Menu {
  color: #ffffff;
  font-size: 1.5rem;
}

.dropdown {
  width: 100%;
  height: 0;
  background-color: black;
  opacity: 0;
  visibility: hidden;
}

.dropdown h6 {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-item:hover .dropdown {
  opacity: 1;
  height: auto;
  visibility: visible;
}
@media screen and (max-width: 960px) {
  .nav-logo-movil {
    display: flex;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    flex-grow: 1;
  }
  .logo-movil {
    background-image: url('../../Static/Img/isologo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 120px;
    height: 60px;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 70px;
    left: -110%;
    height: 100vh;
    opacity: 1;
    transition: all 0.5s ease-out;
    margin: 0px;
    overflow-y: scroll;
    padding-top: 60px;
  }

  .nav-item {
    line-height: 40px;
    margin-right: 0;
    margin-left: 0;
  }
  .nav-item {
    margin-right: 0;
  }
  .nav-item:hover:after {
    width: 100%;
    background: #000000;
    color: #ffe35f;
  }

  .nav-item-logo {
    display: none;
  }
  .logo {
    display: none;
  }

  .nav-menu.active {
    background-color: #000000;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    background-color: #ffe35f;
    color: #000000;

    border: none;
  }
  .nav-links {
    padding: 0.1rem;
    width: 100%;
    /* display: table; */
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #009caa;
  }
}
