.Contenedor-menu {
  position: fixed;
  width: 100%;
  max-width: 100%;
  z-index: 20;
}

.nav-logo-movil {
  display: none;
}

.navbar {
  background-image: url('../../Static/Img/barra_inicio.png');
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 2;
  max-width: 100%;
}

.Icon-Menu {
  color: #ffffff;
  font-size: 1.5rem;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;

  height: 80px;
}

.nav-logo {
  display: flex;
}
.logo {
  background-image: url('../../Static/Img/isologo.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 400px;
  height: 60px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
  margin-left: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  text-decoration: none;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 60px;
  margin-right: 5rem;
}

.nav-item-logo {
  line-height: 40px;
  margin-right: 5rem;
  max-width: 150px;
  max-height: 80px;
}

.nav-item:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #009caa;
  color: #009caa;
}

.nav-item .active {
  color: #ffffff;
}

.nav-icon {
  display: none;
}
.Icon-Menu {
  color: #ffffff;
  font-size: 1.5rem;
}

@media screen and (max-width: 960px) {
  .nav-logo-movil {
    display: flex;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    flex-grow: 1;
  }
  .logo-movil {
    background-image: url('../../Static/Img/isologo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 120px;
    height: 60px;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 70px;
    left: -110%;
    height: 100vh;
    opacity: 1;
    transition: all 0.5s ease-out;
    margin: 0px;
    overflow-y: scroll;
  }

  .nav-item {
    line-height: 40px;
    margin-right: 0;
    margin-left: 0;
  }
  .nav-item {
    margin-right: 0;
  }
  .nav-item:hover:after {
    width: 100%;
    background: #000000;
    color: #009caa;
  }

  .nav-item-logo {
    display: none;
  }
  .logo {
    display: none;
  }

  .nav-menu.active {
    background: #000000;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  /* .nav-item .active {
    color: #009caa;
    border: none;
  } */
  .nav-links {
    padding: 1.1rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #009caa;
  }
}
