.CP-Componente-Vivo {
  width: 100%;

  display: flex;
  flex-direction: column;
}
.marcador-etiqueta-vivo {
  background-color: #ffe35f;
  width: max-content;
  height: 100%;
  max-height: 50px;
  clip-path: polygon(0 31%, 100% 0, 100% 100%, 0% 100%);
  padding: 0.5rem;
}

.texto-marcador-vivo {
  /* padding-top: 4vh;
  padding-left: 2vh;
  padding-right: 1vh; */
  padding: 0.7rem;
  font-family: 'Segoe UI Regular';
  font-size: 2.5vh;
  font-weight: bolder;
}

@media screen and (max-width: 1024px) {
  .marcador-etiqueta-vivo {
    max-height: 80px;
    clip-path: polygon(0 21%, 100% 0, 100% 100%, 0% 100%);
  }
}
@media screen and (max-width: 480px) {
  .marcador-etiqueta-vivo {
    padding: 0;
    max-height: 37px;
    clip-path: polygon(0 21%, 100% 0, 100% 100%, 0% 100%);
  }
}
@media screen and (max-width: 320px) {
  .marcador-etiqueta-vivo {
    max-height: 30px;
    clip-path: polygon(0 21%, 100% 0, 100% 100%, 0% 100%);
  }
}
