.CP-imagenesVideo {
  width: 100%;
  margin-top: 0.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.cuerpo-imagenesVideo {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.img-Principal-imagenesVideo {
  width: 100%;
  object-fit: cover;
  overflow-y: hidden;
  max-height: 370px;
}
.img-imagenesVideo {
  width: 100%;
  object-fit: cover;
  overflow-y: hidden;
  max-height: 265px;
}
.CI-Videos {
  width: 100%;
  padding-top: 56.25%;
  margin: 20px;
}
.CI-Video {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16/9;
  height: 100%;
}
.video-imagenesVideo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.video-con-borde-imagenesVideo {
  width: 100%;
  height: 60vh;
  border: 0.2rem solid #ffe35f;
}
.decripcion-imagenesVideo {
  height: 50px;
  width: 100%;
  font-size: 1rem;
  color: white;
  background: #000000c9;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.decripcion-imagenesVideo2 {
  height: 50px;
  width: 100%;
  font-size: 1rem;
  color: white;
  background: #000000c9;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
iframe {
  border: none;
  aspect-ratio: 16/9;
}
.flechas-izq-der-imagenesVideo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.botonera-inferior-imagenesVideo {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.botones-redondo-imagenesVideo:focus {
  color: black;
}
.botones-redondo-imagenesVideo {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background: bottom;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
  color: white;
}
.flechas-diseño-izq-imagenesVideo {
  left: 10px;
  z-index: 1;
  top: 50%;
  position: absolute;
  width: 30px;
  height: 30px;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  background: #000000c9;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.flechas-diseño-der-imagenesVideo {
  position: absolute;
  right: 10px;
  z-index: 1;
  top: 50%;
  width: 30px;
  height: 30px;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  background: #000000c9;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.flechas-diseño-Active:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.flechas-diseño-abajo-imagenesVideo {
  background: #000000c9;
  width: 30px;
  height: 30px;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
}
.flechas-diseño-arriba-imagenesVideo {
  background: none;
  width: 30px;
  height: 30px;
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
  background: #000000c9;
  border: none;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
  color: white;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}
.flechas-mas-cuerpo-imagenesVideo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 200px;
}
.cuerpo-imagenesVideo:hover .decripcion-imagenesVideo {
  display: none;
}
.cuerpo-imagenesVideo:hover .decripcion-imagenesVideo2 {
  display: none;
}
.decripcion-imagenesVideo:active {
  display: none;
}
.decripcion-imagenesVideo2:active {
  display: none;
}
@media screen and (max-width: 1420px) {
  .video-con-borde-imagenesVideo {
    height: 50.5vh;
  }
  .img-Principal-imagenesVideo {
    max-height: 265px;
  }
  .img-imagenesVideo {
    max-height: 180px;
  }
}
@media screen and (max-width: 1024px) {
  .video-con-borde-imagenesVideo {
    height: 40vh;
  }

  .oculta-Video-Responsive {
    display: none;
  }
  .flechas-diseño-abajo-imagenesVideo {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 2;
  }
  .flechas-diseño-arriba-imagenesVideo {
    position: absolute;
    right: 0;
    color: white;
    top: 50%;
    z-index: 2;
  }
  .flecha-Arriba {
    transform: rotate(90deg);
  }
  .flecha-Abajo {
    transform: rotate(90deg);
  }
  .cuerpo-imagenesVideo {
    /* margin: 40px; */
  }
}
@media screen and (max-width: 480px) {
  .CI-Video {
    padding-top: 56.25%;
    margin: 20px;
  }
  .botones-redondo-imagenesVideo {
    font-size: 2rem;
  }
  .cuerpo-imagenesVideo {
    margin: 0;
  }
  .flechas-diseño-abajo-imagenesVideo {
    left: 10px;
  }
  .flechas-diseño-arriba-imagenesVideo {
    right: 10px;
  }
}
